---
---

@import "{{ site.theme }}";

.main-content p {
  color: black;
}

.main-content h3, .main-content h4 {
  font-size: 1.3em;
  color: #c6afff;
}

.page-header {
  background-color:  #ce6736;
  background-image:  linear-gradient(120deg, #9d2992, #efe67f); 
}

.main-content h2, .main-content h1 {
  color: #7856ca;
}
